* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  background-color: black;
}

h1 {
  overflow-y: hidden;
}

.center1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  overflow-y: hidden;
}

.center2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*-----------------------------------------------------*/

.pcard {
  /* width: 100%; */
  max-width: 300px;
  /* min-width: 200px; */
  height: 400px;

  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 6px;

  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile {
  transition: all 0.8s ease;
}

.pcard .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.pcard .text {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  color: white;
  max-height: 0;
}
.pcard .text a {
  color: white;
}

/* .pcard:hover .text {
  position: absolute;
  top: 130px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 60px;
  gap: 5px 15px;
} */

.textHover {
  position: absolute;
  top: 120px;
  opacity: 1;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  max-height: 60px !important;
  gap: 5px 15px;
}

.profileHover {
  transition: all 0.3s ease;
  opacity: 0.5;
}

/* .pcard:hover .profile {
  transition: all 0.3s ease;
  opacity: 0.5;
} */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 340px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card img {
  border-radius: 10px;
}

@media (max-width: 7700px) {
  .cards {
    justify-content: center;
  }
}

@media (min-width: 1519px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
  }

  .card {
    width: calc(33.33% - 20px);
    margin: 10px;
    justify-content: center;
  }
}

@media (max-width: 500) {
  .card {
    width: 80px;
  }
}

/*-------------------industryacademiameet--------------------------*/
@media (max-width: 680px) {
  .pattern {
    flex-direction: column !important;
    margin-bottom: 150px;
  }
  .patternR {
    flex-direction: column !important;
    margin-bottom: 150px;
  }
  .pattext {
    padding: 0 20px !important;
    margin-top: 20px !important;
  }
}
